<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Sonidos
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="toggleReorderGroup()">Toggle</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-refresher [disabled]="ordenando" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list #lista>
    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
      <ion-item-sliding [disabled]="ordenando" *ngFor="let animal of animales; let i = index">
        <ion-item (click)="reproducir(animal)">
          <ion-avatar slot="start">
            <img [src]="animal.imagen">
          </ion-avatar>
          <ion-label>
            <h2>{{ animal.nombre }}</h2>
            <h3>{{ animal.texto }}</h3>
            <p>Duración : {{ animal.duracion }}s</p>
          </ion-label>
          <ion-icon *ngIf="!animal.reproduciendo" name="play" slot="end"></ion-icon>
          <ion-icon *ngIf="animal.reproduciendo" name="pause" slot="end"></ion-icon>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="borrar(i)">Borrar</ion-item-option>
        </ion-item-options>        
      </ion-item-sliding>
    </ion-reorder-group>
  </ion-list>
</ion-content>